extends layout 

block content
    if errors
        for error in errors
            p(style="color: red") #{error.msg}
            
    h1 Login
    //- Create form for movie and post to express route
    form(method="POST")
        //- Create input elements based on movie model
        #form-group 
            label Email:
            input.form-control(name="email", type="email")
    
        #form-group 
            label Password:
            input.form-control(name="password", type="password")    
        
        input.btn.btn-primary(type="submit", value="Submit")